html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--font-primary);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  width: 100%;
}

:root {
  --color-primary: #4428f1;
  --color-white: #fff;
  --color-black: #000;
  --color-primary-gray: #ccc;
  --font-primary: 'Open Sans', sans-serif;
}
